{% extends 'main.html' %}

{% block content %}

<div>

<h3>Selected item information</h3>
<div>
    <hr>
    <h5>{{item.ItemName}}</h5>
    <h5>{{item.Quantity}}</h5>

    <form method="POST" action="">
        {% csrf_token %}
        
        <select name="items" required>
            {% for item in items %}
                <option value="{{ item.id }}">{{ item.ItemName }} - ${{ item.Amount }}</option>
            {% endfor %}
        </select>
        <input type="number" name="quantity" min="1" required>
        <input type="submit" value="Purchase">
    </form>

</div>
</div>
{% endblock %}


